body{
		padding: 0;
		width: 1200px;
		margin:0px auto;
	}
	
#header {
	margin-top: 2em;
	}

#query_form {
	width: 700px;
	float: left;
}

#examples {
	float: right;
	width: 450px;
}
	
#footer {
	padding-top: 2em;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 80%;
}
