# enable new container format (see http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade)
sudo: false

language: java
jdk:
  - openjdk7

env:
  global:
    # Global variables encypted via "travis encryt"  using the project repo's public key
    # encrypted COVERITY_SCAN_TOKEN
    - secure: "hhLVj2gO730WiEpase1qPR/r8eCiFbND9x+lfZqvP5AiDnv9UD2U/QZfg/EBocJySHb0xTE1WSP0VXYCM4qG8IovJaA1/0MxyWgh4JjdOD1xqjHxpOAJHAvnPoAhu1LO45+rClVS5tub7KaiDvYKcCHXVC07yQm3BRee6rwL75I="
    # encrypted GITHUB_AUTH_TOKEN
    - secure: "WHUbL9LOlJo5a/6TewBV7BZgfpUzDnEur0uI3n5KxmbxGPnlSUYyLoaRFF83Ukys3Mb0xjdleLrOCk+EA7VFMtsxADroHGmK5tSPJD/GGWUo+jdmk1/cETKlgpPvOFKG5Ui19ydqMexACMGnzcy9XoyYwOMyIO/ZbrVjdrq3VtI="


addons:
  coverity_scan:
    project:
      name: "plt-tud/r43ples"
      description: "Build submitted via Travis CI"
    notification_email: markus.graube@tu-dresden.de
    build_command_prepend: "mvn clean"
    build_command: "mvn compile"
    branch_pattern: coverity_scan


before_script:
    #- wget "https://cloudstore.zih.tu-dresden.de/public.php?service=files&t=27bfa7d71ed6b9d3e3225da318cc4639&download" -O virtuoso.deb
    #- sudo dpkg -i virtuoso.deb

script:
    - mvn -q test


after_success:
    - ./.coverity.sh
    - ./.update-gh-pages.sh
    - bash <(curl -s https://codecov.io/bash)
    

before_deploy:
    # http://stackoverflow.com/questions/25916249/deploying-a-maven-version-to-github-using-travis-ci
    - mvn package -DskipTests=true -DfinalName=r43ples-$TRAVIS_TAG
    
deploy:
    # deploy to GitHub releases for every tag
  provider: releases
  api_key:
    secure: RHaHxxXNfD8GQBaEfKv2lmpcJK+FeOBt0N0Djz1loTY/VScOEQQRMpWWK7f3Z0O8D8fWKxRHjUKSM63OR7zo6JafIOQU1l/DzS+YK0Rt9NJuGm6MZHc5V32tf2CBBzS8hZJ6MKrCdPJb0WIP+w++zu64ccsFF9ZhWf7EYZ9BYug=
  file:
    - target/r43ples-$TRAVIS_TAG--jar-with-dependencies.jar
    - target/r43ples-$TRAVIS_TAG.deb
  skip_cleanup: true
  on:
    tags: true
    all_branches: true

