    <script type="text/javascript">
      var graphName = "{{graphName}}";
      var clientName = "{{clientName}}";

      var tripleTableColor = "YellowGreen";
      var individualTabelColor = "LemonChiffon"
    	$(function(){

    		$("#individualBody").find("tr").click(function() {
              
              if((this.style.background == "" || this.style.background =="white")) {
              	  $("#individualBody").find("tr").css('background', 'white');
                  $(this).css('background', individualTabelColor);
                  var individualA = $(this).find('td:first').text();
              	  var individualB = $(this).find('td:last').text();
				  
              	  $.post("individualFilter",
                  {
                    individualA: individualA,
                    individualB: individualB,
                    graph: graphName,
                    client: clientName
                  },
                  function(data, status){
				  	        $("#individualFilter").empty();
                    $("#individualFilter").prepend(data);

                    $("#individualTripleTable :button").each(function (){
                       if($(this).text() == "Approved") {
                          $(this).parent().prev().children().prop({"disabled":true});
                          $(this).parent().parent().css('background',tripleTableColor);
                       }else{
                          $(this).parent().prev().children().prop({"disabled":false});
                          $(this).parent().parent().css('background','white');
                       }
                    });                    


                  }); 
              	  
              }
            });
            
    	});
    </script>

	<fieldset>
		  <legend><strong>Resolution</strong></legend>
		  <div>
		        <table id="individualBody" class="table">
		                  <tr>
		                    <th>Individuals of A</th>
		                    <th>Individuals of B</th>
		                  </tr>
		                  {{#individualTableList}} 
		              	  <tr>
		              	  		{{#rowData}}
									<td>{{toString}}</td>
								{{/rowData}}
		              	  </tr>
		              	  {{/individualTableList}} 
		                </table>
		  </div>
	</fieldset>

	<div id="individualFilter">
	  <fieldset>
            <legend><strong>Resolution</strong></legend>
			  <div id="allSelectIndividual" class="col-lg-2 col-lg-offset-10"><button type="button" class="btn btn-sm" >Approve All</button></div>
              <div class = "parentTbl">
                <table class="table" style="width:100%; table-layout:fixed; word-break: break-all; word-wrap: break-word;">
                          <tr>
                            <th style="width:12%">Subject</th>
                            <th style="width:12%">Predicate</th>
                            <th style="width:12%">Object</th>
                            <th style="width:18%">State B1</th>
                            <th style="width:18%">State B2</th>
                            <th style="width:9%">Conflicting</th>
                            <th style="width:9%">Resolution State</th>
                            <th style="width:10%">Approve</th>
                          </tr>
                </table>
              </div>
            
      </fieldset>
	</div>
