 	<fieldset>
		  <div>
		        <table id="individualBody" class="table">
		                  <tr>
		                    <th>Individual in A and B</th>
		                  </tr>
		                  {{#individualList}} 
		              	  <tr><td>{{resourceUri}}</td>
		              	  </tr>
		              	  {{/individualList}} 
		                </table>
		  </div>
	</fieldset>
	{{individualTableList}}

	<div id="individualFilter">
	  <fieldset>
            <legend>Individual Filter</legend>
                <table class="table tablesorter-bootstrap">
                	<thead>
                          <tr>
                            <th>Subject</th>
                            <th>Predicate</th>
                            <th>Object</th>
                            <th>State B1</th>
                            <th>State B2</th>
                            <th>Conflicting</th>
                            <th>Resolution State</th>
                            <th>Approve</th>
                          </tr>
                   </thead>
                   <tbody>
                   	{{#individualTableList}}
                   	<tr>
                   		<td>{{toString}}</td>
                   	</tr>
                   	{{/individualTableList}}
                   </tbody>
                </table>
                
                
                
                
      </fieldset>
	</div>
