 	<fieldset>
		  <legend>Resolution - Individual View</legend>
		  <div>
		        <table id="individualBody" class="table">
		                  <tr>
		                    <th>Individuals of A</th>
		                    <th>Individuals of B</th>
		                  </tr>
		                  {{#individualTableList}} 
		              	  <tr>
		              	  		{{#rowData}}
									<td>{{toString}}</td>
								{{/rowData}}
		              	  </tr>
		              	  {{/individualTableList}} 
		                </table>
		  </div>
	</fieldset>
	{{individualTableList}}

	<div id="individualFilter">
	  <fieldset>
            <legend>Individual Filter</legend>
			  <div id="allSelectIndividual" class="col-lg-2 col-lg-offset-10"><button type="button" class="btn btn-sm" >Approve All</button></div>
              <div class = "parentTbl">
                <table class="table" style="width:100%; table-layout:fixed; word-break: break-all; word-wrap: break-word;">
                          <tr>
                            <th style="width:12%">Subject</th>
                            <th style="width:12%">Predicate</th>
                            <th style="width:12%">Object</th>
                            <th style="width:18%">State B1</th>
                            <th style="width:18%">State B2</th>
                            <th style="width:9%">Conflicting</th>
                            <th style="width:9%">Resolution State</th>
                            <th style="width:10%">Approve</th>
                          </tr>
                </table>
              </div>
            
      </fieldset>
	</div>
