{{<super}}

{{$title}}Merge Result View{{/title}}

{{$head_extra}}    		
      <link rel="stylesheet" href="/static/css/tipsy.css">
      <link rel="stylesheet" href="/static/css/process-graph.css">
{{/head_extra}}

{{$script_extra}}
   	<script src="/static/js/d3.min.js"></script>
    <script src="/static/js/dagre-d3.js"></script>
    <script src="/static/js/jquery.tipsy.js"></script>
    <script src="/static/js/vor-fast-forward-graph.js"></script>
    <script src="/static/js/fast-forward-graph.js"></script>   

    <script type="text/javascript">
          // Elemente in Variablen Speichern
          var toogleBranchesLeft = $('#toogle-branches-left');
          var toogleTagsLeft = $('#toogle-tags-left');
          
          // Graph mit der aktuellen Auswahl erstellen
          drawGraphOld("loadOldGraphProcess?graph={{graphName}}&optradio=application/json",toogleBranchesLeft.prop("checked"),toogleTagsLeft.prop("checked"));
                    
          // ChangeListener für die Tags
          toogleTagsLeft.change(function () {
              $(this).prop('checked')?showTags():hideTags();
          });
          
          // ChangeListener für die Branches
          toogleBranchesLeft.change(function () {
              $(this).prop('checked')?showBranches():hideBranches();
          });    
            


          // Elemente in Variablen Speichern
          var toogleBranchesRight = $('#toogle-branches-right');
          var toogleTagsRight = $('#toogle-tags-right');
         
          // Graph mit der aktuellen Auswahl erstellen
          drawGraph("mergingProcess?graph={{graphName}}&optradio=application/json",toogleBranchesRight.prop("checked"),toogleTagsRight.prop("checked"));

          
          // ChangeListener für die Tags
          toogleTagsRight.change(function () {
              $(this).prop('checked')?showTags1():hideTags1();
          });
          
          // ChangeListener für die Branches
          toogleBranchesRight.change(function () {
              $(this).prop('checked')?showBranches1():hideBranches1();
          });

           // initial the size of svg
          var svgInitial = $("#right");
          $("#right").remove();
          svgInitial.width("100%");
          $("#visualisation-right").prepend(svgInitial);
      </script>
{{/script_extra}}

{{$content}}
    <h2>Merge successful</h2>
    {{> templates/merge/mergeReport}}      
    
    <div id="graphs" class="row">  
      <div class="col-sm-6" id="leftContainer" >
        <fieldset>
          <legend>Graph before Merging</legend>
          <div id="visualisation-left" class="live map">
            <svg id="left" width="100%" height="468" style="border:1px solid #000000; margin:1px; overflow:hidden;"><g/></svg>
          </div> 
          <div class="form" style="margin:0px;padding-bottom:0px">
            <input type="checkbox" id="toogle-tags-left" class="checkbox-inline"><label for="toogle-tags" class="checkbox-inline">Tags</label>
            <input type="checkbox" id="toogle-branches-left" checked class="checkbox-inline"><label for="toogle-branches" class="checkbox-inline">Branches</label>
          </div> 
        </fieldset> 
      </div>

      <div class = "col-sm-5" id="rightContainer" >
        <fieldset style="padding-bottom:0px;" >
          <legend><strong>Current Graph</strong></legend>
          <div id="visualisation-right" class="live map">
            <svg id="right" width="100%" height="468" style="border:1px solid #000000; margin:1px; overflow:hidden;"><g/></svg>
          </div> 
          <div class="form" style="margin:0px;padding-bottom:0px">
            <input type="checkbox" id="toogle-tags-right" class="checkbox-inline"><label for="toogle-tags" class="checkbox-inline">Tags</label>
            <input type="checkbox" id="toogle-branches-right" checked class="checkbox-inline"><label for="toogle-branches" class="checkbox-inline">Branches</label>
          </div> 
        </fieldset> 
      </div>
      
    </div>  
    <div class= "row ">
      <div class = "col-sm-10 col-sm-offset-1">
           <a href="merging" ><button style="width:95%; margin-left:16px" type="button" class="btn btn-default">New Merge</button></a>
          </div>
      </div>           
{{/content}}

{{/super}}     

  

