<!-- Navigation -->
<nav>
	<ul class="nav nav-tabs">
		<li><a href ="{{#isRebase}}rebaseReport{{/isRebase}}{{^isRebase}}report{{/isRebase}}Process?graph={{graphName}}&client={{clientName}}">Report</a></li>
		<li class="active"><a href="#" id="triple">Triple view</a></li>
		<li><a href="#" id="individual">Individual</a></li>
		<li><a href="#" id="highLevel">High level</a></li>  
	</ul>
</nav>