  <div>
  <fieldset>
	<table id="tripleTable" class="table tablesorter-bootstrap">
		<thead> 
			<tr>
	        	<th class="filter-match filer-exact">Subject</th>
				<th class="filter-match">Predicate</th>
				<th class="filter-match">Object</th>
				<th class="filter-select">State B1</th>
				<th class="filter-select">State B2</th>
				<th class="filter-select">Conflict</th>
				<th >Resolution State</th>
				<th >Approve</th>
			</tr>
		</thead>
		<tbody>
			{{#tripleDifferenceModel.allDifferences}}               
		  	<tr>
		  	    {{#getTriple}}
			    <td>{{getSubject}} </td>
				<td>{{getPredicate}}</td>
				<td>{{getObject}}</td>
				{{/getTriple}}
				<td class="state-{{tripleStateA}}"> {{tripleStateA}}</td>
				<td class="state-{{tripleStateB}}"> {{tripleStateB}}</td>
				<td class="conflict-{{conflicting}}">{{conflicting}}</td>
				<td><input type="checkbox" id="opt" name="options" value={{tripleId}}></td>
		        <td><button type="button" class="btn btn-default">Confirm</button></td>
	        </tr>
        {{/tripleDifferenceModel.allDifferences}}
        </tbody>   
    </table>
    <div id="allSelect" class="col-lg-2 col-lg-offset-10">
	  	<button type="button" class="btn btn-default">Approve All</button>
	</div>
</fieldset>
</div>          
           