Source: r43ples
Priority: extra
Maintainer: Markus Graube <markus.graube@tu-dresden.de>
Build-Depends: debhelper (>= 8.0.0), javahelper (>=0.25)
Build-Depends-Indep: default-jdk, libtrove-java, ant
Standards-Version: 3.9.5
Vcs-Git: https://github.com/plt-tud/r43ples.git
Section: utils

Package: r43ples
Section: misc
Priority: extra
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}, virtuoso-opensource
Description: Revision Control System for the Semantic Web
 Adds a semantic revision control system to an exisiting triplestore with SPARQL interface (like virtuoso).
