.navbar-static-top {
	padding-bottom: 15px;
}

.navbar-toggle {
	margin-top: 35px;
}

#navbar {
	margin-top: 27px;
} 

#query {
	resize: vertical;
}

/* required for fixed navbar at the bottom  http://getbootstrap.com/components/#navbar-fixed-bottom */
body { padding-bottom: 70px; }