.state-ADDED:before {
	content: url('/static/images/Added.svg');
}
.state-ORIGINAL:before {
	content: url('/static/images/Original.svg');
}
.state-DELETED:before {
	content: url('/static/images/Deleted.svg');
}
.state-NOTINCLUDED:before {
	content: url('/static/images/NotIncluded.svg');
}

.conflict-false:before {
	content: url('/static/images/Difference.png');
}
.conflict-true:before {
	content: url('/static/images/Conflict.png');
}

.approved-RESOLVED:before {
	content: url('/static/images/Resolved.png');
}
.approved-NOTAPPROVED:before {
	content: url('/static/images/NotApproved.svg');
}

.confirmed {
	background: YellowGreen;
}