{{<templates/super}}
   
{{$content}}
<h1>Debug query</h1>
Revision Graph: {{revisionGraph}}
<div class="row">
<div id="main" class="col-md-7">
	<div id="query_form">
		<h2>Query Form</h2>
		<form action="/r43ples/debug" method="get" role="form" class="form">
			<div class="form-group">
				<label for="query">Query Text</label><br />
				<textarea name="query" class="form-control" id="query" rows="16">
SELECT * 
WHERE { GRAPH <{{revisionGraph}}> 
	{ ?s ?p ?o }
}
				</textarea>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Run Query" />
				<input type="reset"	class="btn btn-warning" value="Reset" />
			</div>
		</form>
{{/content}}

{{/templates/super}}