{{<super}}

{{$title}}Debug{{/title}}
   
{{$content}}
<div class="row">
	<div id="debug-form" class="col-sm-6">
		<div id="query_form">
			<h2>Debug Query</h2>
			<form method="get" role="form" class="form">
				<div class="form-group">
					<label class="control-label" for="query">Query Text</label>
					<textarea name="query" class="form-control" id="query" rows="16">
SELECT * 
WHERE { 
	GRAPH &lt;{{revisionGraph}}&gt; {
		?s ?p ?o 
	}
}
					</textarea>
				</div>
				<div class="form-group">
					<label for="format" class="control-label">Result Format:</label>
						<select	name="format" class="form-control" id="name">
							<option value="text/html">HTML</option>
							<option value="text/plain">Text</option>
							<option value="application/sparql-results+xml">RDF/XML</option>
							<option value="text/turtle">Turtle</option>
							<option value="application/json">JSON</option>
						</select>
				</div>
				<div class="form-group">
					<div class="btn-group col-sm-12">
						<input type="submit" class="col-sm-8 btn btn-primary" value="Run Query" />
						<input type="reset"	class="col-sm-4 btn btn-default" value="Reset" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="debug-information" class="col-sm-6">
		<h3>Existing graphs in triplestore</h3>
		<ul>
			{{#graphs}}
			 <li><samp>{{toString}}</samp></li>
			{{/graphs}}
			</ul>
	</div>
</div>
{{/content}}

{{/super}}