{{<super}}

{{$title}}Endpoint{{/title}}
   

{{$content}}
<div class="row">
	<div id="main" class="col-lg-6">
		<h2>Query Form</h2>
		<form method="post" role="form" class="form-horizontal">
			
				<div class="form-group">				
					<label class="col-sm-3 control-label" for="query">Query Text</label>
					<div class="col-sm-9"><textarea name="query" class="form-control" id="query" rows="16" placeholder="Insert R43ples/SPARQL query text or copy it from examples"></textarea></div>
				</div>
				<div class="form-group">
					<label for="format" class="col-sm-3 control-label">Result Format:</label>
					<div class="col-sm-9">
						<select	name="format" class="form-control" id="name">
							<option value="text/html">HTML</option>
							<option value="text/plain">Text</option>
							<option value="application/sparql-results+xml">RDF/XML</option>
							<option value="text/turtle">Turtle</option>
							<option value="application/json">JSON</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="query_rewriting" class="col-sm-3 control-label" >JOIN Option:</label>
					<div class="col-sm-9">
						<input type="checkbox" name="query_rewriting" value="on">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 btn-group">
						<input type="submit" class="col-xs-8 btn btn-primary" value="Run Query" />
						<input type="reset"	class="col-xs-4 btn btn-default" value="Reset" />
					</div>
				</div>
		</form>
	</div>
					
	<div id="revision-information" class="col-lg-6">
			<h2>Revision Information</h2>
			<form action="createSampleDataset" method="get" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-8">
							<select id="exampleGraph" class="form-control" name="dataset">
								<option value="all">All</option>
								<option value="1">http://test.com/r43ples-dataset-1</option>
								<option value="2">http://test.com/r43ples-dataset-2</option>
								<option value="3">http://test.com/r43ples-dataset-3</option>
								<option value="merging">http://test.com/r43ples-dataset-merging</option>
								<option value="merging-classes">http://test.com/r43ples-dataset-merging-classes</option>
								<option value="renaming">http://test.com/r43ples-dataset-renaming</option>
								<option value="complex-structure">http://test.com/r43ples-dataset-complex-structure</option>
								<option value="rebase">http://test.com/r43ples-dataset-rebase</option>
							</select>
						</div>
						<div class="col-sm-4">
							<input type="submit" class="btn btn-default form-control" value="Create Samples" />
						</div>
					</div>
				</form>
				<form action="revisiongraph" method="get" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-4">
							<select id="selectRevisedGraph" class="form-control" name="graph">
								<option value="">(All)</option>
								{{#graphList}}
								<option value="{{toString}}">{{toString}}</option>
								{{/graphList}}	
							</select>
						</div>
						<div class="col-sm-4">
							<select class="form-control" name="format">
								<option value="text/turtle">Turtle</option>
								<option value="batik">Graphical 1</option>
								<option value="d3">Graphical 2</option>
								<option value="g6">Graphical 3</option>
							</select>
						</div>
						<div class="col-sm-4">
							<input type="submit" class="btn btn-default form-control" value="Get Revision Graph" />
						</div>
					</div>
				</form>
				<form action="sparql" method="get" class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-8">
							<select id="dropRevisedGraph" class="form-control" name="query">
								<option value="">(None)</option>
								{{#graphList}}
								<option value="DROP GRAPH &lt;{{toString}}&gt;">{{toString}}</option>
								{{/graphList}}	
							</select>
						</div>
						<div class="col-sm-4">
							<input type="submit" class="btn btn-default form-control" value="Drop Graph" />
						</div>
					</div>
				</form>
	</div>
</div>
	
{{/content}}

{{/super}}
