{{<super}}

{{$title}}Error{{/title}}

{{$content}}
<div class="row">
	<h2>Internal Error</h2>
	<h3>Message</h3>
	{{ error.toString }}
	<h3>Stacktrace</h3>
	{{# error.stackTrace }}
	  {{ toString }}
	{{/ error.stackTrace }}
	{{#request}}
	<h3>Request</h3>
	{{ toString }}
	{{/request}}
	
</div>
{{/content}}

{{/super}}