{{<templates/super}}

{{$content}}
<div class= "row">
 Following example data sets have been generating including a revision graph:

<ul>
 	{{#iterator}}
	<li>{{toString}}</li>
	{{/iterator}}
</ul>

<a class="button small default" href="sparql">Back to Endpoint</a>
</div>
{{/content}}

{{/templates/super}}