{{<super}}

{{$title}}Example Dataset generated{{/title}}

{{$content}}
<div class="row">
	<p>Following example data sets have been generating including a revision graph:</p>

	<ul>
 		{{#graphs}}
		<li>{{toString}}</li>
		{{/graphs}}
	</ul>

	<a class="btn btn-default" href="sparql">Back to Endpoint</a>
</div>
{{/content}}

{{/super}}