{{<templates/super}}

{{$head_extra}}
    <!--CSS Dateien für den Version Graph, tipsy und Font Awesome für Symbole -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/tipsy/1.0/stylesheets/tipsy.css">
    <link rel="stylesheet" href="/static/css/version-graph.css">
{{/head_extra}}
 
{{$script_extra}}   
    <!--Einbinden der externen Bibliotheken-->
	<!--D3.js-->
	<script src="//cdn.jsdelivr.net/d3js/3.5.5/d3.min.js"></script>
	<!--dagre-d3-->
	<script src="//cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>
	<!--tipsy-->
	<script src="//cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js"></script>
	<!--Version Graph-->
	<script src="/static/js/version-graph.js"></script>

	<script type="text/javascript">
    // Verknüpfung der UI Elemente mit dem Version Graph über jQuery
    $(document).ready(function () {
        // Elemente in Variablen Speichern
        var toogleBranches = $('#toogle-branches');
        var toogleTags = $('#toogle-tags');
        //var dataSource = $('#datasource');
        
        // Graph mit der aktuellen Auswahl erstellen
        drawGraph("revisiongraph?graph={{graphName}}&format=application/json",toogleBranches.prop("checked"),toogleTags.prop("checked"));
        
        // ChangeListener für die Tags
        toogleTags.change(function () {
            $(this).prop('checked')?showTags():hideTags();
        });
        
        // ChangeListener für die Branches
        toogleBranches.change(function () {
            $(this).prop('checked')?showBranches():hideBranches();
        });
    });
</script>

{{/script_extra}}
    
{{$content}}
<div class="row">
<div class= "large-10 large-offset-1 columns">
<h1>Revision Graph</h1>
    <h2><samp>&lt;{{graphName}}&gt;</samp></h2>
<!--SVG-Element für den Version Graph-->
	<div id="visualisation">
      <div class="row">
		<svg width="100%" height="580" style="border:1px solid #000000; margin: 5px; overflow:hidden;"></svg>
      </div>
  </br>
	  <div class="row">
         <label ><em style="font-size:1.266rem">View:</em></label>
		 <input type="checkbox" id="toogle-tags" /><label for="toogle-tags" >Tags</label> 
		 <input type="checkbox" id="toogle-branches"/><label for="toogle-branches" >Branches</label> 
	  </div>	
	</div>
</div>
</div>
<div class="row">
<div class= "large-10 large-offset-1 columns">
	<br/>
	<a class="button small default" href="sparql">Back to Endpoint</a>
</div>
</div>
{{/content}}




{{/templates/super}}