{{<templates/super}}


{{$script_extra}}
<script src="/static/js/viz.js"></script>
	<script>
		$(document)
				.ready(
						function() {
							var data = document.getElementById("graph").innerHTML;
							var svg = Viz(data, "svg");
							var b64 = btoa(svg);
							$("#revisiongraph").append($(svg));
							$("#graphDownload").attr("href", "data:image/svg+xml;base64," + b64);
						});
	</script>
{{/script_extra}}
    
{{$content}}
	    <h1>Revision Graph of &lt;{{graphName}}&gt;</h1>
		<script type="text/vnd.graphviz" id="graph">{{& graphViz}}</script>
		<a class="btn btn-default" id="graphDownload" href-lang='image/svg+xml' title='revisiongraph_{{graphName}}.svg' download='revisiongraph_{{graphName}}.svg'>Download as SVG</a><br/>
		<div id="revisiongraph"></div>
{{/content}}


{{/templates/super}}
