{{<templates/super}}

{{$script_extra}}
    <!--CSS Dateien für den Version Graph, tipsy und Font Awesome für Symbole -->
    <link rel="stylesheet" href="/static/css/version-graph.css">
    <link rel="stylesheet" href="/static/css/tipsy.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    
    <!--Einbinden der externen Bibliotheken-->
	<!--D3.js-->
	<script src="/static/js/d3.v3.min.js"></script>
	<!--jQuery -->
	<script src="/static/js/jquery.min.js"></script>
	<!--dagre-d3-->
	<script src="/static/js/dagre-d3.js"></script>
	<!--tipsy-->
	<script src="/static/js/jquery.tipsy.js"></script>
	<!--Version Graph-->
	<script src="/static/js/version-graph.js"></script>

	<script type="text/javascript">
    // Verknüpfung der UI Elemente mit dem Version Graph über jQuery
    $(document).ready(function () {
        // Elemente in Variablen Speichern
        var toogleBranches = $('#toogle-branches'), toogleTags = $('#toogle-tags'), dataSource = $('#datasource')
        // Graph mit der aktuellen Auswahl erstellen
        drawGraph("revisiongraph?graph={{graphName}}&format=application/json",toogleBranches.prop("checked"),toogleTags.prop("checked"));
        // ChangeListener für die Tags
        toogleTags.change(function () {
            $(this).prop('checked')?showTags():hideTags();
        });
        // ChangeListener für die Branches
        toogleBranches.change(function () {
            $(this).prop('checked')?showBranches():hideBranches();
        });
    });
</script>

{{/script_extra}}
    
{{$content}}
<h1>Revision Graph of &lt;{{graphName}}&gt;</h1>
<!--SVG-Element für den Version Graph-->
	<svg width="400" height="580" style="border:1px solid #000000; margin-top: 25px; overflow:hidden;"></svg>
	<div class="form-inline">
		<label for="toogle-tags" class="checkbox-inline">Tags</label><input type="checkbox" id="toogle-tags" class="checkbox-inline">
		<label for="toogle-branches" class="checkbox-inline">Branches</label><input type="checkbox" id="toogle-branches" class="checkbox-inline">
	</div>	
	<a class="btn btn-default" href="sparql">Back to Endpoint</a>
{{/content}}




{{/templates/super}}