{{<super}}

{{$content}}
<div class="row">
	<div id="main" class="col-md-12">
		<div class="jumbotron">
			<img class="center-block" src="/static/images/r43ples-logo.png" style="width:100%; max-width:800px;"alt="R43ples logo">
		
			<p>R43ples (Revision for triples) is an open source Revision Management Tool for the Semantic Web.</p>
			<p>It provides different revisions of named graphs via a SPARQL interface. All information about revisions, changes, commits, branches and tags are stored in additional named graphs beside the original graph in an attached external triple store.</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 btn-group-vertical">
		<h2>Use R43ples</h2>
		<a class="btn btn-default" href="sparql"><i class="fa fa-edit"></i> Perform R43ples queries on Endpoint</a>
        <a class="btn btn-default" href="debug"><i class="fa fa-stethoscope"></i> Debug attached triplestore</a>
        <a class="btn btn-default" href="merging"><i class="fa fa-magic"></i> Merge branches on the web</a>
        <a class="btn btn-default" href="configuration"><i class="fa fa-cogs"></i> Configure R43ples</a>
    </div>
    <div class="col-xs-12 col-sm-6 btn-group-vertical">
    	<h2>More information</h2>           
        <a class="btn btn-default" href="http://plt-tud.github.io/r43ples/"><i class="fa fa-globe"></i> More information on the website</a>
	    <a class="btn btn-default" href="https://github.com/plt-tud/r43ples"><i class="fa fa-github"></i> Development on GitHub</a>
	    <em class="btn">{{#version}}Version: {{toString}}{{/version}}{{^version}}Git: {{git.commitIdAbbrev}} - {{git.branch}}{{/version}}</em>
	</div>
</div>
{{/content}}

{{/super}}