{{<super}}

{{$title}}Start Merge{{/title}}

{{$head_extra}}
    <link rel="stylesheet" href="/static/css/r43ples.versiongraph.css">
    <link rel="stylesheet" href="/static/css/tipsy.css">
{{/head_extra}}

{{$script_extra}}
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/dagre-d3.js"></script>
<script src="/static/js/jquery.tipsy.js"></script>
<script src="/static/js/version-graph.js"></script>

<script type="text/javascript">
    function updateVisualisation(){
 		console.log("update visualisation");
 		$graph = $("#graph").val();
 		updateBranchSelectOptions();
 		drawGraph("#visualisation", "revisiongraph?graph="+$graph+"&format=application/json", false, false);
    };
    
    $(document).ready(updateVisualisation);

    $("#graph").change(updateVisualisation);
   
    // update branches when selecting another graph 
    function updateBranchSelectOptions() {
        $graph = $("#graph").val();
    	$.get("api/getBranches", {graph : $graph }, function(data,status){
        	var listitems = '' ;
        	$.each(data,function(key, value) {
        		listitems += '<option>' + value + '</option>';
        	});
        	$("#branch1").html(listitems);
    		$("#branch2").html(listitems);
        });
    };
    
    
    function setLocalClient(){
	  localStorage.clientName = document.getElementById("user").value;
	}


    // branch onchange check : if reachable with fast forward
    function checkFastForward (){
      var graph = $('#graph').val();
      var branch1 = $('#branch1').val();
      var branch2 = $('#branch2').val();

      $.get("api/fastForwardCheckProcess", 
        {
          graph : graph,
          branch1 : branch1,
          branch2 : branch2
        },
        function(data,status){
          // get data and check
          if(data == "false"){
        	  $('#strategy option[value="Fast-Forward"]').attr('disabled', true);
          }else{
        	  $('#strategy option[value="Fast-Forward"]').attr('disabled', false);
        	  $('#strategy').val("Fast-Forward");
        	  showIllustration("Fast-Forward");
          }
        });
    }
</script>
{{/script_extra}}

{{$content}}
<div class="container">
			<div class="row" >
				<h2>Start Merging <small>Development in Progress</small></h2>
			</div>
			<div class="row">
				<div class="col-sm-7">
                    <form class="form-horizontal" method="post" role="form">
                      <div class="form-group" >
                      	<label for="graph" class="col-sm-2 control-label">Graph</label>
                        <div class="col-sm-10" >
                          <select class="form-control" id="graph" name="graph">
                             {{#graphList}}
                             <option value="{{toString}}">{{toString}}</option>                        
                             {{/graphList}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                      	<label for="branch1" class="col-sm-2 control-label">Merge</label>
                        <div class="col-sm-4">
                          <select class="form-control" id="branch1" name="branch1" onchange="checkFastForward()">    
                             <option value="no"></option>
                          </select>          
                        </div>
                        <label for="branch2" class="col-sm-2 control-label">Into</label>
                        <div class="col-sm-4">
                          <select class="form-control" id="branch2" name="branch2" onchange="checkFastForward()">
                             <option value="no"></option>
                          </select>          
                        </div>
                      </div>
                      <div class="form-group" >
                        <label for="strategy" class="col-sm-2 control-label">Strategy</label>
                        <div class="col-sm-10" >
                          <select class="form-control" id="strategy" name="strategy" onchange="showIllustration(this.value)">
                             <option value="Three-Way Merge">Three-Way Merge</option>
                             <option value="Rebase">Rebase</option>
                             <option value="Fast-Forward">Fast-Forward</option>
                          </select>
                        </div>
                      </div>                    
                      <div id="sddField" class="form-group" >
                          <label for="sdd" class="col-sm-2 control-label">SDD</label>
                          <div class="col-sm-10">          
                            <select class="form-control" id="sdd" name="sdd">
                             <option value="http://eatld.et.tu-dresden.de/sdd#defaultSDD">sdd:defaultSDD</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="user" class="col-sm-2 control-label">User</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="Committing User" id="user" name="user">
                          </div>
                       </div>    
                      <div class="form-group">
                           <label for="message" class="col-sm-2 control-label">Message</label>
                           <div class="col-sm-10 ">
                           	<textarea class="form-control" rows="6" placeholder="Commit Message" id="message" name="message"></textarea>
                           </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-5">
                            <button id="submit" type="submit" class="btn btn-primary btn-block">Submit</button>
                          </div>
                          <div class="col-sm-5">
                            <button id="cancel" type="button" class="btn btn-default btn-block">Cancel</button>
                          </div>
                      </div>
                    </form>

			 </div>

       <div class= "col-sm-5">
            <div id="visualisation"></div>
          </div>
		</div>
   </div>
{{/content}}


{{/super}}