{{<templates/super}}

{{$title}}R43ples Merging Interface{{/title}}

{{$script_extra}}
<script type="text/javascript">
    $(document).ready(function(){
      $("#btn-add").click(function(){
      $("#tb").append("<tr><th><input class=\"form-control\" placeholder=\"User\"></th><th><input class=\"form-control\"   placeholder=\"User\"></th><th><button type=\"button\" class=\"btn btn-block btn-primary btn-xs\" onclick=\"$(this).parent().parent().remove()\">delete</button></th></tr>");
      });  
      //$(".panel-collapse").first().addClass("out");
      // $("#btn-delete").click(function(){$(this).parent().parent().remove()});

    }); 
    //Ajax graph->branch
        function showCustomer(str){
        var xmlhttp;
        if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
        }
        else{// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function(){
          if (xmlhttp.readyState==4 && xmlhttp.status==200){
            document.getElementById("Branch1").innerHTML=xmlhttp.responseText;
            document.getElementById("Branch2").innerHTML=xmlhttp.responseText;
          }
        }
        xmlhttp.open("GET","merging?q=1&graph="+str,true);
        xmlhttp.send();
       }; 
           //js Stragegie->illustration mit Graph
        function showIllustration(num){
          if(num == 0){
            document.getElementById("illustration").innerHTML="";
          }
          if(num == 1){
            document.getElementById("illustration").innerHTML="<img class=\"pull-left\" src=\"/static/images/fast-forward-strategie.png\" alt=\"fast-forward\" style=\"width:446px;height:500px;margin-left:36px\">";
          }
          if(num == 2){
            document.getElementById("illustration").innerHTML="<img class=\"pull-left\" src=\"/static/images/three-way-strategie.png\" alt=\"three-way\" style=\"width:446px;height:500px;margin-left:36px\">";
          }
          if(num == 3){ 
            document.getElementById("illustration").innerHTML="<img class=\"pull-left\" src=\"/static/images/rebase-strategie.png\" alt=\"rebase\"     style=\"width:446px;height:500px;margin-left:36px\">";
          }

        }; 
</script>
{{/script_extra}}

{{$content}}   	    
<div class="container">
			<div class="row">
				<div class="col-sm-6">
                 <div class="panel panel-default" >
                  <div class="panel-heading" data-toggle="collapse"  href="#merge" data-parent="#accordion">
                    <h4 class="panel-title">Start Merging</h4>
                  </div>
                    <div class="panel-body">
                    <form action="mergingView" method="get" class="form-horizontal" role="form">
                     <div class="form-group">
                     <div class="panel panel-default">
                         <div class="panel-heading"><strong>Select the merging method</strong></div>
                      <div class="panel-body">
                        <div class="col-sm-offset-1 col-sm-2 radio">
                            <label><input type="radio" name="optradio" value="common" checked><strong>Common</strong></label>
                        </div>
                        <div class="col-sm-offset-3 col-sm-2 radio">
                            <label><input type="radio" name="optradio" value="auto"><strong>AUTO</strong></label>
                        </div>
                      </div>
                      </div>
                     </div>
                      <div class="form-group" >
                        <label class="control-label col-sm-2"><div align=center>GRAPH:</div></label>
                        <div class="col-sm-10" >
                          <select class="form-control" id="graph" name="graph" onchange="showCustomer(this.value)">
                             <option value="no">None</option>
							               {{#graphList}}
                             <option value="{{toString}}">{{toString}}</option>
                             {{/graphList}}
                          </select>
                        </div>
                      </div>

                      <div class="form-group" >
                        <label class="control-label col-sm-2"><div align=center>Strategie:</div></label>
                        <div class="col-sm-10" >
                          <select class="form-control" id="strategie" name="strategie" onchange="showIllustration(this.value)">
                             <option value="0">None</option>
                             <option value="1">Fast-Forward Merge Strategie</option>
                             <option value="2">Three-Way Merge Strategie</option>
                             <option value="3">Rebase Merge Strategie</option>
                          </select>
                        </div>
                      </div>

                      <div class="form-group">
                          <label class="control-label col-sm-2"><div align=center>SDD:</div></label>
                          <div class="col-sm-10">          
                            <select class="form-control" id="sdd">
                             <option>sdd:default SDD</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2"><div align=center>MERGE:</div></label>
                        <div class="col-sm-4">
                          <select class="form-control" id="Branch1" name="Branch1">    
                             <option value="no"></option>
                          </select>          
                        </div>
                        <label class="control-label col-sm-2"><div align=center>INTO:</div></label>
                        <div class="col-sm-4">
                          <select class="form-control" id="Branch2" name="Branch2">
                             <option value="no"></option>
                          </select>          
                        </div>
                      </div>
                       <div class="form-group">
                           <label class="control-label col-sm-2"><div align=center>USER:</div></label>
                           <div class="col-sm-10">
                            <input class="form-control" placeholder="User" id="user">
                           </div>
                       </div>
                      <div class="form-group">
                           <label class="control-label col-sm-2"><div align=center>MESSAGE:</div></label>
                           <div class="col-sm-10">
                           <textarea class="form-control" rows="6" id="message"></textarea>
                           </div>
                      </div>
                            <button type="submit" class="btn btn-block btn-success">Submit</button>
                            <button type="button" class="btn btn-block btn-warning">Cancel</button>
                    </form>
                    </div>
                </div>
			 </div>

       <div class= "col-sm-6">
          <div class="panel panel-default" style="height:560px; margin-top:56px">
            <div class="panel-heading" data-toggle="collapse"  href="#merge" data-parent="#accordion">
              <h4 class="panel-title">Strategie Illustration</h4>
            </div>
            <div class="panel-body" id="illustration">
            </div>
          </div>
       </div>
		</div>
    </div>
		
		
{{/content}}


{{/templates/super}}

