{{<super}}


{{$title}}Merge Process{{/title}}

{{$head_extra}}
      <link rel="stylesheet" href="/static/css/r43ples.versiongraph.css">
      <link rel="stylesheet" href="/static/css/tipsy.css">
      <link rel="stylesheet" href="/static/css/jsTreeStyle.css">            
      <link rel="stylesheet" href="/static/css/r43ples.merging.css">
      <link rel="stylesheet" type="text/css" href="/static/css/theme.bootstrap.css"/>
{{/head_extra}}

{{$script_extra}}
<script src="/static/js/jstree.min.js"></script>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/dagre-d3.js"></script>
<script src="/static/js/jquery.tipsy.js"></script>
<!--<script src="/static/js/version-graph.js"></script>-->


<!-- tablesorter -->
<script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/static/js/jquery.tablesorter.widgets.js"></script>

<script type="text/javascript">
$(document).ready(function() {
    $(".table").tablesorter({
	  theme: 'bootstrap',
	  headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
	  widgets : [ 'uitheme', 'zebra', 'filter' ],
	   widgetOptions : {
      // using the default zebra striping class name, so it actually isn't included in the theme variable above
      // this is ONLY needed for bootstrap theming if you are using the filter widget, because rows are hidden
      zebra : ["even", "odd"],

      // reset filters button
      filter_reset : ".reset",

      // extra css class name (string or array) added to the filter element (input or select)
      filter_cssFilter: "form-control",

      // set the uitheme widget to use the bootstrap theme class names
      // this is no longer required, if theme is set
      // ,uitheme : "bootstrap"

    }
	});;
} );
</script>

{{/script_extra}}

{{$content}}
<h2>Conflicts while merging</h2>
<div class="row">
	<div class="col-sm-4">Merge</div><div class="col-sm-8"><i>{{commitModel.branch1.toString}}</i> into <i>{{commitModel.branch2}}</i></div>
</div>
<div class="row">
	<div class="col-sm-4">Graph</div><div class="col-sm-8"><i>{{commitModel.graphName}}</i></h2></div>
</div>
<div class="row">
	<div class="col-sm-4">Common predecessor:</div><div class="col-sm-8">{{commonRevision}}</div>
</div>

<h3>Resolve Conflicts to merge</h3>
<button class="btn btn-primary">Merge</button>
<!-- Navigation -->
<div>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#tripleView" aria-controls="tripleView" role="tab" data-toggle="tab">Triple view</a></li>
		<li role="presentation"><a href="#individualView" aria-controls="individualView" role="tab" data-toggle="tab">Individual</a></li>
		<li role="presentation"><a href="#highLevelView" aria-controls="highLevelView" role="tab" data-toggle="tab">High level</a></li>  
	</ul>
</div>
<div class="tab-content"> 
	<div role="tabpanel" class="tab-pane fade in active" id="tripleView">
		{{> merge/tripleView}}
	</div>
	<div role="tabpanel" class="tab-pane fade" id="individualView">
		{{> merge/individualView}}
	</div> 
	<div role="tabpanel" class="tab-pane fade" id="highLevelView">
		{{> merge/highLevelView}}
	</div>  
</div>
	<button class="btn btn-primary">Merge</button>
{{/content}}

{{/super}}