{{<templates/super}}

{{$script_extra}}
<script type="text/javascript">

   function setLocalClient(){
     localStorage.clientName = document.getElementById("user").value;
   }

    $(document).ready(function(){

     //confirm and go on merging  
	  $("#sub").click(function(){
	  	var r=alert("MergeQuery success created, press Confirm to go on merging process!");
	  	if(r==true){
			$('#con').removeAttr('disabled');
			$('#sub').prop("disabled", true);
			$('#can').prop("disabled", true);
						
	  	}
	  });

    }); 

    
    //Ajax graph->branch
      function showCustomer(str){
        var xmlhttp;
        if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
        }
        else{// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function(){
          if (xmlhttp.readyState==4 && xmlhttp.status==200){
            document.getElementById("Branch1").innerHTML=xmlhttp.responseText;
            document.getElementById("Branch2").innerHTML=xmlhttp.responseText;
          }
        }
        xmlhttp.open("GET","merging?q=1&graph="+str,true);
        xmlhttp.send();
       }; 

        //js Stragegie->illustration with Graph
        
        function showIllustration(num){
          if(num == 0){
            document.getElementById("illustration").innerHTML="";
          }
          if(num == 1){
            document.getElementById("illustration").innerHTML="<img class=\"pull-left\" src=\"/static/images/fast-forward-strategie.png\" alt=\"fast-forward\" style=\"width:416px;height:466px;margin-left:6px\">";
          }
          if(num == 2){
            document.getElementById("illustration").innerHTML="<img class=\"pull-left\" src=\"/static/images/three-way-strategie.png\" alt=\"three-way\" style=\"width:416px;height:466px;margin-left:6px\">";
          }
          if(num == 3){ 
            document.getElementById("illustration").innerHTML="<img class=\"pull-left\" src=\"/static/images/rebase-strategie.png\" alt=\"rebase\"     style=\"width:416px;height:466px;margin-left:6px\">";
          }

          // by fast forward hide the common,auto fieldset and sdd selector
          if(num == 1){
            $('#methodField').hide();
            $('#sddField').hide();
          } else{

            $('#methodField').show();
            $('#sddField').show();
          }

        }; 

        // branch onchange check : if reachable with fast forward
        function checkFastForward (){
          var graph = $('#graph').val();
          var branch1 = $('#Branch1').val();
          var branch2 = $('#Branch2').val();


          $.get("fastForwardCheckProcess", 
            {
              graph : graph,
              branch1 : branch1,
              branch2 : branch2
            },
            function(data,status){
              // get data and check
              $('#strategie').val('0');
              if(data == "false"){
                $('#strategie').children('option').each(function(){
                  if($(this).val() === "1"){
                    $(this).attr('disabled', true);
                  }
                });
              }else{
                $('#strategie').children('option').each(function(){
                  if($(this).val() === "1"){
                    $(this).attr('disabled', false);
                  }
                });
              }

            });
        }
</script>
{{/script_extra}}

{{$content}}
<div class="container">
			<div class="row" >
				<div class="col-sm-7">
                  <legend><h4><strong>Start Merging</strong></h4></legend>
                    <form class="form-horizontal" action="mergingProcess" method="post" role="form">
                      <div class="form-group" >
                      	<label for="graph" class="col-sm-2">Graph</label>
                        <div class="col-sm-10" >
                          <select class="form-control" id="graph" name="graph" onchange="showCustomer(this.value)">
                             <option value="no">None</option>
                             {{#graphList}}
                             <option value="{{toString}}">{{toString}}</option>                        
                             {{/graphList}}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                      	<label for="Branch1" class="col-sm-2">Merge</label>
                        <div class="col-sm-3">
                          <select class="form-control" id="Branch1" name="Branch1" onchange="checkFastForward()">    
                             <option value="no"></option>
                          </select>          
                        </div>
                        <label for="Branch2" class="col-sm-2">Into</label>
                        <div class="col-sm-3">
                          <select class="form-control" id="Branch2" name="Branch2" onchange="checkFastForward()">
                             <option value="no"></option>
                          </select>          
                        </div>
                      </div>
                      <div class="form-group" >
                        <label for="strategie" class="col-sm-2">Strategy</label>
                        <div class="col-sm-10" >
                          <select class="form-control" class="form-control" id="strategie" name="strategie" onchange="showIllustration(this.value)">
                             <option value="0"> &lt; Select Strategy &gt;</option>
                             <option value="2">Three-Way Merge Strategy</option>
                             <option value="3">Rebase Merge Strategy</option>
                             <option value="1">Fast-Forward Merge Strategy</option>
                          </select>
                        </div>
                      </div>                    
                      <div id="methodField" class="form-group">
                      	<label class="col-sm-2">Method (?)</label>
                              <label class="col-sm-5"><input type="radio" name="optradio" value="common" checked> Common</label>
                              <label class="col-sm-5"><input type="radio" name="optradio" value="auto"> Auto</label>
                      </div>
                      <div id="sddField" class="form-group" >
                          <label for="sdd" class="col-sm-2">SDD</label>
                          <div class="col-sm-10">          
                            <select class="form-control" id="sdd" name="sdd">
                             <option value="http://eatld.et.tu-dresden.de/sdd#defaultSDD">sdd:defaultSDD</option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="user" class="col-sm-2">User</label>
                          <div class="col-sm-10">
                            <input class="form-control" type="text" placeholder="User" id="user" name="user">
                          </div>
                       </div>    
                      <div class="form-group">
                           <label for="message" class="col-sm-2">Message</label>
                           <div class="col-sm-10 ">
                           	<textarea class="form-control" rows="6" id="message" name="message"></textarea>
                           </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-5">
                            <button id="sub" type="submit" class="btn btn-primary btn-block" onclick="setLocalClient()">Submit</button>
                          </div>
                          <div class="col-sm-5">
                            <button id="can" type="button" class="btn btn-default btn-block">Cancel</button>
                          </div>
                      </div>
                    </form>
       
                  </fieldset>
			 </div>

       <div class= "col-sm-5">
            <legend><h4><strong>Strategy Illustration</strong></h4></legend>
            <div class="panel-body" id="illustration" style="height:486px; width:406px ;">
            </div>
          </div>
		</div>
   </div>
{{/content}}


{{/templates/super}}
	
		
