<html class="no-js" lang="en">
<head>
<title>{{$title}}R43ples - Revision Management for the Semantic Web{{/title}}</title>
<meta name="author" content="Markus Graube">
<meta name="description" content="R43ples web application">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/static/images/r43ples-logo.v04.png"> 

<!-- Bootstrap core CSS -->
<!--
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.css">
-->

<!-- Foundation 5 core CSS -->
<link href="/static/css/foundation.css" rel="stylesheet" />
<link href="/static/css/normalize.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.css">

<!-- Custom styles for this template -->
<link href="/static/css/r43ples.css" rel="stylesheet" />

<style>
.wsmall{
      -webkit-transform: scale(0.8,0.8); /* Safari and Chrome */
      }
</style>

{{$head_extra}}{{/head_extra}}
</head>
<body style="background-color:WhiteSmoke;">

<!-- Navigation -->
  <div class="fixed">
    <nav class = "top-bar" data-topbar role = "navigation">
      <ul class = "title-area">
        <li class = "name">
          <h1><a href="."><img class="pull-left" src="/static/images/r43ples-r-logo.v04.png" alt="R43ples logo" style="height:42px;width:32px"><span>R43ples</span></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="left">
            <li {{#endpoint_active}} class="active"{{/endpoint_active}}><a href="sparql"><i class="fa fa-edit"></i> Endpoint</a></li>
            <li {{#debug_active}}class="active"{{/debug_active}}><a href="debug"><i class="fa fa-stethoscope"></i> Debug</a></li>
            <li {{#merging_active}}class="active"{{/merging_active}}><a href="merging"><i class="fa fa-magic"></i> Merging</a></li>
            <li {{#mergingConfiguration_active}}class="active"{{/mergingConfiguration_active}}><a href="mergingConfiguration"><i class="fa fa-cog fa-fw"></i> Configuration</a></li>
            <li class="divider"></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="right">
            <li><div style="margin:6px; padding:3px;" ><em style="margin:16px; padding:8px; color:white;">{{#version}}Version: {{toString}}{{/version}}{{^version}}Git: {{git.commitIdAbbrev}} - {{git.branch}}{{/version}}</em></div></li>
            <li class="divider"></li>
            <li><a href="http://plt-tud.github.io/r43ples/"><i class="fa fa-globe"></i> Website</a></li>
            <li><a href="https://github.com/plt-tud/r43ples"><i class="fa fa-github"></i> GitHub</a></li>
          </ul>
        </section>
      </nav>

  </div>

    <div class="container wsmall">
    	{{$content}}Default content of the page{{/content}}
    </div>

<!--     Bootstrap core JavaScript -->
<!--  At the end in order to load the page faster-->
<script src="//cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
<!--foundation.js-->
<script src="/static/js/foundation.js"></script>

{{$script_extra}}{{/script_extra}}

</body>
</html>


