


<div class="row">
	<div id="footer" class="navbar-default">
	<div class="container">
	<div class="span12">
		<p class="navbar-text navbar-center">2014 - Version %1$s</p>
		<p class="navbar-text logo"><a href="https://github.com/plt-tud/r43ples">R43ples@GitHub</a></p>
		<p class="navbar-text">powered by <a href="https://jersey.java.net/">Jersey</a></p>
	</div>
	</div>
	</div>
</div>



</body>
</html>
